
div.header{
     /*background-color: #104a70;*/ /* updated blue */
     background-color: #191d24;
     height: 3em;
     width: 100%;
     position: fixed;
     top: 0px;
     z-index: 5;
}

img.logo{
     height: 3em;
     width: auto;
     margin: auto;
     position: fixed;
     margin-left: 45%;
}