/** Font */
@import url('http://fonts.googleapis.com/earlyaccess/notosanskannada.css');

/** Body of Page */
body{
     padding: 0px;
     margin: 0px;
     min-width: 500px;
}

header{
     background-color: #507590;
     position: fixed;
     top: 0px;
     width: 100%;
     height: 3em;
     padding: 0px;
}

footer{
     height: 1em;
     width: 100%;
     bottom: 0px;
     background-color: #507590;
     position: fixed;
}

#logo{
     margin: auto;
     object-fit: contain;
     height: 3em;
     position: fixed;
     left: 45%;
}

aside{
     position: fixed;
     margin-bottom: 3em; 
     width: 20%;
     max-height: 75%;
     display: inline-flex;
     font-family: 'Noto Sans Kannada', sans-serif;
     min-width: 200px;;
}

aside.left{
     left: 0px;
     margin-left: 2em;
     margin-top: 3em;
     background-color: white;
}

a{
    color: white;
    text-decoration:unset;
}

aside.right{
     right: 0px;
     margin-right: 2em;
     margin-top: 1.5em;
     
}

/** Nav Bar **/
nav{
     top: 0px;
     z-index: 2;
     position: fixed;
     width: 100%;
     height: 3em;
     text-align: center;
     margin: .75em;
}


/**Table for Nav bar */
table.menu{
  color: white;
  right: 3em;
  position: absolute;
}

th.menuItem{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: -10px; 
  padding-top: 0px; 
}

th.menuItem:hover{
  background-color:#4f6a77;
}

.navBtn{
  width: 1em;
  height: 2em;
  object-fit: contain;
  display: block;
}

/** nd Nav Bar */

/** End of Body Main */

/** Left Side */
/** Create a parent container for the flex items */
#profileContainer{
  width: 100%;
  height: 35%;
  margin: auto;
  margin-top: 0px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: white;
}


#profileImg{
     object-fit: scale-down;
     text-align: center;
     width: 150px;
     height: 150px;
     display: inline-block;
     max-height: auto;
     border: 5px solid white;
     background-color: white;
     border-radius: 50%;
     box-shadow: 0px 5px 5px lightgray;
}

p.profileName{
  font-size: 24px;
  padding-top: 0px;
  margin-top: 15px;
  margin-bottom: 0px;  
}

a.editBtn{
     color: blue;
     font-style: italic;
     font-weight: lighter;
     margin: 0px;
     padding: 0px;
}

a.editBtn:hover{
     color:red;
}

.basicSection{
     border: 2px solid lightgray;
     border-radius: 35%;
}

div.favoritesSection{
  width: 100%;
  height: 45%; 
  margin: auto;
  margin-top: 100%;;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  background-color: white;
  display: flex;
}

#favorites{
     height: 90%;
}

div.stdSection{
     width: 100%;
     margin: 10px;
     border: 1px solid gray;
     border-radius: 5px;
     box-shadow: 0px 5px 5px lightgray;
     background-color: white;
     height: 75%;
     margin-bottom: 25px;
     margin-top: 0px; 
}

div.stdSection:hover{
     box-shadow: 0px 5px 5px gray;
}

div.stdSectionTitle{
     padding-top: 10px;
     text-align: center;
}

/** Right Sections */
#followers{
     margin-top: 0px;
     height: 100px;
}

#following{
     margin-top: 10px;
     height: 100px;
}

#bestTastes{
  margin-top: 10px;
     height: 100px;
}

#eventCalendar{
     height: 150px;
     position: absolute;
}

.subsection{
     position: absolute;
     width: 100%;
     padding: 0px;
     margin-top: 25px;
     margin-left: -10px;
}

/** End of right section */

/** Main Content */
section{
     width: 50%;
     height: auto;
  margin: auto;
  margin-top: 3em;;
  min-width: 450px; 
  font-weight: bold;
  justify-content: center;
  text-align: center;
}


.newsFeedHeader{
     text-align: left;
     position: fixed;
     background-color: white;
     width: 100%;
     padding: 10px;
}

.newsFeedHeader.breweryPage{
     margin: auto;
     margin-top: 250px;;
     max-width: 50%;
     background-color: blue;
}

div.newsFeedHeader.brewery{
     background-color: green;
     height: 50px;
     margin-top: 300px;
     max-width: 50%;
}

iframe{
     background-color: white;
     border: initial;
     margin: auto;
     background: transparent;
}

/** for the table cell */
/** Note that each one has a round image and a title */
.tableCell{
     width: 50%;
     height: 30%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.tableCell.title{
     padding-top: .5em;
     width: 95%;
     text-align: center;
     bottom: 0px;
     font-weight: lighter;
     color: black;
}

.tableCell.img{
     width: 75px;
     height: 75px;
     margin: auto;
     object-fit: contain;
     border-radius: 50%;
}

img.tableCell{
     width: 100%;
     height: 100%;
     padding-bottom: 10px;
}

/** Brewery PAge View */
#coverImage{
  height: 250px;
  width: 75%;
  left: 12.5%;
  margin: auto;
  object-fit: cover;
  position: fixed;
  background-color: lightblue;
  z-index: -1;
}