

#profileImage{
     border-radius: 50%;
     width: 75%;
     margin-left: 12.5%;
     margin-top: 3em; 
     object-fit: contain;
     text-align: center;
}

#profileName{
     width: 100%;
     height: 1em;
     text-align: center;
     position: absolute;
     justify-content: center;
     font-size: 2em;
}

#editProfileBtn{
     width: 100%;
     height: 1em;
     text-align: center;
     position: absolute;
     color: blue;
     font-style: italic;
}

#favoritesSection{
 
  margin-top: 0%;
  height: 50%;
  position: absolute;
  left: 0px;
}

#calendarSection{
  height: 27.5%;
  top: 62.5%;
  position: absolute;
  padding-bottom: -6em;
}

#favorites.flex-item{
  background-color: red;
  width: 50%;
  height: 33.3%;
  margin: 0px;
}

.flex-container{
  top: 15%;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
}

.flex-item{
  width: 40%;
  height: 35%;
  margin: 5%;
  text-align: center;
}

/** For the cell custom class */
img.tableCellImage{
  width: 75%;
  height: 75%;
  object-fit: contain;
}

span.title{
  font-size: 100%;
  color: gray;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 15%;
  font-style: italic;
  justify-content: center;
}

/** Right Side */
#RightSectionOne{
  height: 17.5%;
  top: 2.5%;
  position: absolute;
}

#RightSectionTwo{
  height: 17.5%;
  top: 42.5%;
  position: absolute;
}

#RightSectionThree{
  height: 17.5%;
  top: 22.5%;
  position: absolute;
}


/** End Right Side */