<<<<<<< HEAD
html, body, head{
  margin: 0px;
}

#header{
     background-color: #507590;
     top: 0px;
<<<<<<< HEAD
=======
     z-index: -1;
>>>>>>> master
}

header{
     background-color: #507590;
<<<<<<< HEAD
     position: absolute;
=======
     position: fixed;
>>>>>>> master
     top: 0px;
     width: 100%;
     height: 3em;
}

#logo {
  position: absolute;
  margin: 0;
  left: 45%;
  right: -52%;
  top: 0px;
  max-width: auto;
  text-align: center;
  max-height: 3em;
  z-index: 2;
}

nav{
     top: 0px;
     z-index: 2;
<<<<<<< HEAD
     position: absolute;
=======
     position: fixed;
>>>>>>> master
     width: 100%;
     height: 3em;
     text-align: center;
     margin: .75em;
}

aside{
<<<<<<< HEAD
     position: relative;
=======
     position: fixed;
>>>>>>> master
     margin-top: 3em;
     margin-bottom: 3em; 
     width: 25%;
     display: inline-flex;
     height: 90%;
}

aside.left{
     left: 0px;
<<<<<<< HEAD
     position: absolute;
=======
>>>>>>> master
     margin-left: 2em; 
}

aside.right{
     right: 0px;
<<<<<<< HEAD
     position: absolute;
=======
>>>>>>> master
     margin-right: 2em;
}

footer{
     background-color: #507590;
     bottom: 0;
<<<<<<< HEAD
     position: absolute;
=======
     position: fixed;
>>>>>>> master
     width: 100%;
     height: 3em;
}

section{
     background: purple;
     display: inline-flex;
<<<<<<< HEAD
     height: 90%;
=======
     height: 100%;
>>>>>>> master
     position: absolute;
     margin: 3em;
     width: 40%;
     left: 26.25%;
     right: -26.25%;
<<<<<<< HEAD
=======
     z-index: 0;
>>>>>>> master
}
=======

>>>>>>> origin/mikal

#profileImage{
     border-radius: 50%;
     width: 75%;
     margin-left: 12.5%;
     margin-top: 3em; 
     object-fit: contain;
     text-align: center;
}

#profileName{
     width: 100%;
     height: 1em;
     text-align: center;
     position: absolute;
     justify-content: center;
     font-size: 2em;
}

#editProfileBtn{
     width: 100%;
     height: 1em;
     text-align: center;
     position: absolute;
     color: blue;
     font-style: italic;
}

#favoritesSection{
 
  margin-top: 0%;
  height: 50%;
  position: absolute;
  left: 0px;
}

#calendarSection{
  height: 27.5%;
  top: 62.5%;
  position: absolute;
  padding-bottom: -6em;
}

#favorites.flex-item{
  background-color: red;
  width: 50%;
  height: 33.3%;
  margin: 0px;
}

.flex-container{
  top: 15%;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
}

.flex-item{
  width: 40%;
  height: 35%;
  margin: 5%;
  text-align: center;
}

/** For the cell custom class */
img.tableCellImage{
  width: 75%;
  height: 75%;
  object-fit: contain;
}

span.title{
  font-size: 100%;
  color: gray;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 15%;
  font-style: italic;
  justify-content: center;
}

/** Right Side */
#RightSectionOne{
  height: 17.5%;
  top: 2.5%;
  position: absolute;
}

#RightSectionTwo{
  height: 17.5%;
  top: 42.5%;
  position: absolute;
}

#RightSectionThree{
  height: 17.5%;
  top: 22.5%;
  position: absolute;
}


/** End Right Side */