html, body{
     margin: 0em;
     padding: 0em;
}

.roundImg{
     position: absolute;
     border-radius: 50%;
     width: 10em;
     height: auto;
     max-height: 10em;
}

#profileImageData{
     text-align: center;
     left: 50%;
     right: -50;
}

li{
     text-align: center;
     position: relative;
     width: 7em;
     top: 6.75em;
     background: yellow;
     list-style: none;
     left: 50%;
     right: -50;
}

ol{
     position: absolute;
      text-align: center;
      width: 9em;
      height: 1.25em;
      font-weight: 3em;
      font-size: 22px;
      background-color: red;
     position: relative;
     top: 10em;
     padding: 0em;
     margin: 0em;
     left: 50%;
     right: -50;
}
